.andrology-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgb(0, 0, 0, 0.4)),
    url("https://static.wixstatic.com/media/11062b_1f500790666b41f1a11f751a560fc6b9~mv2.jpg/v1/fill/w_1225,h_1125,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/11062b_1f500790666b41f1a11f751a560fc6b9~mv2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  object-position: center center;
  background-attachment: fixed;
}

.andrology-title {
  width: 100%;
  background-color: #caab77;
  padding: 10px 0;
  color: white;
  text-align: center;
  font-weight: 500;
  letter-spacing: 15px;
}

.andrology-contain {
  margin: 50px auto 0;
  text-align: center;
  width: 68%;
}

.andrology-contain .col {
  margin-bottom: 80px;
}

.andrology-text {
  margin-bottom: 80px;
  text-align: left;
  padding: 20px 50px;
  color: white;
}

.andrology-text h2::after {
  content: "";
  display: inherit;
  width: 40px;
  margin: 20px 0;
  border-top: 4px solid #caab77;
}

.andrology-text p {
  font-size: 18px;
}

.andrology-text .andrology-btn {
  background-color: transparent;
  border: 1px solid #caab77;
  padding: 25px 100px;
  margin-top: 50px;
  transition: all 0.7s ease-in-out;
  color: white;
}

.andrology-text .andrology-btn:hover {
  background-color: #caab77;
}

@media (max-width: 1250px) {
  .andrology-contain {
    margin: 50px auto 0;
    text-align: center;
    width: 80%;
  }
  .andrology-text .andrology-btn {
    padding: 25px 50px;
    margin-top: 10px;
  }
  .andrology-text p {
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  .andrology-text {
    text-align: center;
  }
  .andrology-contain {
    margin: 50px auto 0;
    width: 85%;
  }
  .andrology-contain .col {
    margin-bottom: 0px;
  }
  .andrology-text .andrology-btn {
    padding: 20px 50px;
  }
  .andrology-text h2::after {
    content: "";
    display: inherit;
    width: 40px;
    margin: 20px auto;
    border-top: 4px solid #caab77;
  }
}
@media (max-width: 767px) {
  .andrology-text .andrology-btn {
    padding: 15px 30px;
    margin: 30px 10px;
  }
  .andrology-text {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 10px;
    padding: 0px 0px;
    color: white;
  }
  .andrology-text p {
    font-size: 13px;
  }
  .andrology-contain img {
    height: 40vh;
  }
}
