.team-section {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)
    ),
    url("https://static.wixstatic.com/media/2e87f1_83cbf90ed3fc4d85843b8566bee8145e~mv2.png/v1/fill/w_1244,h_995,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/2e87f1_83cbf90ed3fc4d85843b8566bee8145e~mv2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.team-title {
  width: 100%;
  background-color: #caab77;
  padding: 15px 0;
  color: white;
  text-align: center;
  font-weight: 500;
  letter-spacing: 5px;
}

.team-content {
  width: 50%;
  margin: 0 auto;
}
.team-content p {
  width: 90%;
  font-size: 18px;
  font-weight: 300;
}

.team-content-title::after {
  content: "";
  border-bottom: 4px solid #caab77;
  margin-top: 20px;
  width: 100%;
  display: block;
}

.team-info {
  width: 68%;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .team-content {
    width: 95%;
    text-align: center;
  }
  .team-content p {
    width: 100%;
    font-size: 15px;
    font-weight: 300;
  }
  .team-info {
    width: 95%;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }
}

.team-card {
  overflow: hidden;
}
.team-card p {
  font-size: 19px;
}

.first-card:hover .btn-read {
  opacity: 1;
}
.first-card:hover .info-body {
  transform: translateY(0);
}

.team-info .title-info::after {
  content: "";
  border-bottom: 3px solid #caab77;
  margin: 20px auto 20px;
  width: 50px;
  display: block;
}

.first-card .card-body {
  margin-top: -110px;
  z-index: 100;
  background-color: black;
  height: 220px;
}

#myCanvas h2 {
  color: red;
}

@media (min-width: 992px) {
  .info-body {
    transform: translateY(55px);
    transition: all 0.3s ease-in-out;
  }
  .team-card {
    overflow: hidden;
  }
  .team-card p {
    font-size: 19px;
    margin-bottom: auto !important;
  }
  .btn-read {
    width: 100%;
    padding: 5px 0;
    background-color: transparent;
    border: 0;
    color: white;
    align-self: flex-end;
    font-size: 22px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    padding-right: 30px;
  }

  .first-card:hover .btn-read {
    opacity: 1;
  }
  .first-card:hover .info-body {
    transform: translateY(0);
  }
}

@media (max-width: 991px) {
  .info-body {
    transform: translateY(0px);
  }

  .team-card p {
    font-size: 15px;
  }
  .first-card .card-body {
    height: 170px;
  }
}
.overlay {
  background-color: rgba(0, 0, 0, 0.522);
  z-index: 9000;
  display: none;
}
.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
  color: black !important;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  overflow: scroll;
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
}

.side-nav::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}

.side-nav .closebtn {
  position: absolute;
  text-decoration: none;
  top: -20px;
  right: 100px;
  color: black;
  font-size: 100px;
  font-weight: 100;
  margin-left: 50px;
}
.show-nav {
  width: 70%;
}
@media (max-width: 500px) {
  .show-nav {
    width: 95%;
  }
}
.headcanvas {
  font-size: 100px;
}
@media screen and (max-height: 450px) {
  .side-nav {
    padding-top: 15px;
  }
  .side-nav .closebtn {
    font-size: 18px;
  }
}
.information {
  text-align: start;
}

.information span {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px;
}
.information span h2 {
  color: #caab77;
  margin-right: 50px;
}
.information h4 {
  color: #caab77;
}

@media (max-width: 800px) {
  .information span {
    flex-direction: column;
  }
}

#myCanvas {
  text-align: start;
  padding: 20px 320px 5px 80px;
}

#myCanvas span {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px;
}
#myCanvas span h2 {
  color: #caab77;
  margin-right: 40px;
}
#myCanvas h4 {
  color: #caab77;
  font-size: 19px;
}
#myCanvas p {
  margin: 0px;
}
#myCanvas strong {
  margin: 0;
  display: block;
  font-style: italic;
  font-weight: 700;
}

@media (max-width: 800px) {
  #myCanvas span {
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
  }
  .side-nav .closebtn {
    position: absolute;
    text-decoration: none;
    top: 0px;
    right: 25px;
    color: black;
    font-size: 50px;
    font-weight: 100;
    margin-left: 50px;
  }

  #myCanvas {
    text-align: start;
    padding: 10px 0px 5px 10px;
  }
  .information span h2 {
    color: #caab77;
    margin-right: 5px;
  }
}
